@import "blocks/form";
@import "blocks/task";
@import "blocks/author";

html {
    font-family: 'Roboto', sans-serif;
    background-color: #14213D;
}

form {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

input {
    width: 90%;
    height: 2rem;
    border: 2px solid #000000;
    padding: 0;
}